<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Class Survey</title>
    <link rel="shortcut icon" href="/images/icon-32.png" type="image/x-icon">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    {{{_sections.head}}}
</head>

<body>
    {{{_sections.body}}}
    <div class="container">
        {{#if flash}}
        <div class="alert alert-{{flash.type}} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <strong>{{flash.intro}}</strong>{{{flash.message}}}
        </div>
        {{/if}}

        {{{body}}}
    </div>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    {{{_sections.script}}}
</body>

</html>